.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
firebase-debug.log
/prisma/dev.db
prisma/dev.db
prisma/dev.db
ecosystem.config.cjs
prisma/prisma/fp.db
update.dump
generate_station_inserts.ts
